@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");

#root {
  animation: fade 0.8s ease-in;
}
header {
  width: 100vw;
  height: 20vh;
  padding-top: 10vh;
  color: #000000;
  text-align: center;
  font-family: "Noto Sans TC", sans-serif;
  /* animation: fade 0.8s ease-in; */
}
nav {
  width: 100vw;
  height: 5vh;
  color: #000000;
  /* animation: fade 1s ease-in; */
}
main {
  /* animation-delay: 0.2s;
  animation: fade 1.4s ease-in; */
}
footer {
  width: 100vw;
  height: 12vh;
  background-color: #000000;
  color: #fafafa;
  position: relative;
  bottom: 0;
  text-align: center;
  vertical-align: middle;
  /* animation: fade 1s ease-in; */
}
h2 {
  font-size: 2.3vw;
}
h2:hover {
  color: #000000;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  padding: 1vh 1vw 1vh 1vw;
  font-size: 1vw;
}
li a {
  text-decoration: none;
  color: #999999;
}
li a:hover {
  text-decoration: none;
  color: #000000;
}
.content {
  width: 100vw;
  height: 40vh;
  margin-bottom: 3vh;
}
.row {
  margin: 0;
  padding: 0;
}
#name a {
  text-decoration: none;
  color: #000000;
}
#bio {
  text-align: center;
  vertical-align: middle;
  padding: 10vh 15vw 5vh 15vw;
  line-height: 1.5;
  letter-spacing: 3.5;
  font-size: 3.2vw;
  font-weight: bold;
  font-family: "Noto Sans TC", sans-serif;
}
#right {
  text-align: right;
  padding-right: 12.5vw;
}
#left {
  text-align: left;
  padding-left: 12.5vw;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
}
/* @media screen and (min-width: 601px) {
  div.example {
    font-size: 80px;
  }
}

@media screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
  }
} */
@media only screen and (min-device-width: 320vw) and (max-device-width: 414vw) {
  header {
    height: 10vh;
    padding-top: 10vh;
    /* animation: fade 0.8s ease-in; */
  }
  nav {
  }
  main {
  }
  footer {
    width: 100vw;
    height: 20vh;
    font-size: 5vw;
    display: block;
    /* animation: fade 1s ease-in; */
  }
  #name a h2 {
    font-size: 4vw;
  }
  #bio {
    font-size: 5.2vw;
    padding: 0vh 10vw 0vh 10vw;
  }
  #contact ul li {
    display: block;
    position: absolute;
    overflow: auto;
    font-size: 3.2vw;
  }
  .col ul li a {
    font-size: 3.2vw;
  }
}
