@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
header {
  width: 100vw;
  height: 20vh;
  padding-top: 10vh;
  color: #000000;
  text-align: center;
  font-family: "Noto Sans TC", sans-serif;
}
nav {
  width: 100vw;
  height: 5vh;
}
footer {
  width: 100vw;
  height: 12vh;
  background-color: #000000;
  color: #fafafa;
  position: relative;
  bottom: 0;
  text-align: center;
  vertical-align: middle;
}
#root {
  animation: fade 0.8s ease-in;
}
#name a {
  font-size: 2.3vw;
}
#name a:hover {
  color: #000000;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  padding: 0vh 1vw 1vh 0vw;
}
li a:hover {
  text-decoration: none;
  color: #000000;
}
.topNav {
  text-decoration: none;
  color: #999999;
  font-size: 1vw;
}
.content {
  width: 100vw;
  height: 40vh;
  margin-bottom: 3vh;
}
.row {
  margin: 0;
  padding: 0;
}
#name a {
  text-decoration: none;
  color: #000000;
}
#bio {
  text-align: center;
  vertical-align: middle;
  padding: 10vh 15vw 5vh 15vw;
  line-height: 1.5;
  letter-spacing: 3.5;
  font-size: 3.2vw;
  font-weight: bold;
  font-family: "Noto Sans TC", sans-serif;
}
#right {
  text-align: right;
  padding-right: 12.5vw;
}
#left {
  text-align: left;
  padding-left: 12.5vw;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  header {
    height: 10vh;
    padding-top: 6vh;
  }
  nav {
    padding: 2.5vh 0vw 5vh 0vw;
  }
  footer {
    width: 100vw;
    height: 20vh;
    font-size: 5vw;
    display: block;
  }
  li {
    padding: 2vh 1vw 1vh 1vw;
  }
  #name a {
    font-size: 5vw;
  }
  #bio {
    font-size: 4vw;
    padding: 4vh 9vw 0vh 9vw;
  }
  #contact {
    display: block;
    position: absolute;
    font-size: 3.8vw;
  }
  #right {
    text-align: right;
    padding-right: 4.5vw;
  }
  #left {
    text-align: left;
    padding-left: 4.5vw;
  }
  .topNav {
    text-decoration: none;
    color: #999999;
    font-size: 3.2vw;
    text-align: lext;
  }
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
  header {
    height: 10vh;
    padding-top: 6vh;
  }
  nav {
    padding: 2.5vh 0vw 5vh 0vw;
  }
  footer {
    width: 100vw;
    height: 20vh;
    font-size: 5vw;
    display: block;
  }
  li {
    padding: 2vh 1vw 1vh 1vw;
  }
  #name a {
    font-size: 5vw;
  }
  #bio {
    font-size: 4vw;
    padding: 4vh 9vw 0vh 9vw;
  }
  #contact {
    padding: 1vh 0vw 0vh 0vw;
  }
  #contact li {
    display: block;
    font-size: 3.8vw;
  }
  #right {
    text-align: right;
    padding-right: 4.5vw;
  }
  #left {
    text-align: left;
    padding-left: 4.5vw;
  }
  .topNav {
    text-decoration: none;
    color: #999999;
    font-size: 3.2vw;
    text-align: lext;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
}
